@model ExpensesControl.Models.User;
@{ ViewData["Title"] = "Home"; }


<div class="container py-2">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4 p-4 pb-2 mt-5">
            <div class="card">
                <div class="card-body p-3 pb-1 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <div class="py-2 text-center">
                            <i class="bi bi-person-circle default-img-icon"></i>
                        </div>
                        <h3 class="mb-3">Login</h3>
                        <form method="post">
                            <div>
                                <div class="col-sm-12 p-2">
                                    <label asp-for="Email" class="form-label d-flex">E-mail</label>
                                    <input type="email" class="form-control" asp-for="Email" placeholder="nome@exemplo.com">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-sm-12 p-2">
                                    <label asp-for="Password" class="form-label d-flex">Senha</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control password-field" asp-for="Password" placeholder="*********" />
                                        <a class="btn btn-secondary bi bi-eye btn-show-password"></a>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div align="right" class="px-2">
                                    <a asp-action="RecoverPassword" asp-controller="Password" asp-area="Access" class="text-warning text-decoration-none">Esqueceu a senha? <i class="bi bi-patch-question"></i></a>
                                </div>
                                <br />

                                @{ await Html.RenderPartialAsync("~/Views/Shared/_Alert.cshtml");}
                            </div>

                            <br />
                            <button class="btn btn-primary" type="submit">Entrar <i class="bi bi-door-open"></i></button>
                            <br />
                            <br />
                            <a asp-action="Index" asp-controller="Registration" asp-area="Access" class="text-decoration-none">Não é cadastrado? <i class="bi bi-person-badge"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






