@model ControleDespesas.Models.Usuario;
@{
    ViewData["Title"] = "Painel de Controle";
}

<header class="d-flex flex-wrap align-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="container">
        <a asp-action="Index" asp-controller="PainelControle" class="btn btn-primary">Voltar <i class="bi bi-arrow-bar-left"></i></a>
    </div>
</header>

<div class="container" align="center">
    <div class="text-center">
        <i class="bi bi-file-earmark-person default-img-icon"></i>
        <h3>Dados Cadastrais</h3>
    </div>

    <div class="container">
        <div class="row">
            <form method="post">
                <input type="hidden" asp-for="Id"/>

                <div class="container">
                    <div class="col-sm-4 p-2">
                        <label asp-for="Nome" class="form-label d-flex" style="text-align: left">Nome</label>
                        <input asp-for="Nome" type="text" class="form-control">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4 p-2">
                        <label asp-for="Sobrenome" class="form-label d-flex">Sobrenome</label>
                        <input asp-for="Sobrenome" type="text" class="form-control">
                        <span asp-validation-for="Sobrenome" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4 p-2">
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="Sexo" value="M">
                            <span class="form-check-label">Masculino</span>
                        </label>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="Sexo" value="F">
                            <span class="form-check-label">Feminino</span>
                        </label>
                        <div>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-4 p-2">
                        <label asp-for="Email" class="form-label d-flex">E-mail</label>
                        <input type="email" class="form-control" asp-for="Email" placeholder="nome@exemplo.com">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4">
                        @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml");}
                    </div>

                    <br />
                    <div class="col" align="center">
                        <button type="submit" class="btn btn-primary">Atualizar <i class="bi bi-arrow-clockwise"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


