@model ExpensesControl.Models.User;
@{
    ViewData["Title"] = "Painel de Controle";
}

<header class="d-flex flex-wrap align-content-center justify-content-md-between py-3 mb-4">
        <div class="container">
            <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-primary">voltar <i class="bi bi-arrow-bar-left"></i></a>
        </div>
</header>

<div class="container" align="center">
    <div class="p text-center">
        <i class="bi bi-gear default-img-icon"></i>
        <h3>painel de controle</h3>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                @{ await Html.RenderPartialAsync("~/Views/Shared/_Alert.cshtml"); }
            </div>
        </div>

        @{
            switch (Model.Type)
            {
                case ExpensesControl.Libraries.UserType.System:
                    <div class="col-md-6 p-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="py-2">
                                    <i class="bi bi-person-gear default-icon-medium"></i>
                                </div>
                                <h4 class="card-subtitle mb-2 text-muted">usuários</h4>
                                <p class="card-text">gerencie os usuários cadastrados.</p>
                                <a asp-action="Index" asp-controller="UserManagement" asp-area="Access" class="btn btn-primary">acessar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="py-2">
                                    <i class="bi bi-person-lines-fill default-icon-medium"></i>
                                </div>
                                <h4 class="card-subtitle mb-2 text-muted">e-mail</h4>
                                <p class="card-text">altere seu e-mail de cadastro.</p>
                                <a asp-action="UpdateEmail" asp-controller="UserManagement" asp-area="Access" asp-route-id="@_login.GetUser().Id" class="btn btn-primary">alterar</a>
                            </div>
                        </div>
                    </div>
                    break;
                case ExpensesControl.Libraries.UserType.UserDefault:
                    <div class="col-md-6 p-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="py-2">
                                    <i class="bi bi-person-gear default-icon-medium"></i>
                                </div>
                                <h4 class="card-subtitle mb-2 text-muted">dados pessoais</h4>
                                <p class="card-text">altere seus dados cadastrais.</p>
                                <a asp-action="UpdateRegistrationData" asp-controller="UserManagement" asp-area="Access" asp-route-id="@_login.GetUser().Id" class="btn btn-primary">alterar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="py-2">
                                    <i class="bi bi-file-earmark-lock default-icon-medium"></i>
                                </div>
                                <h4 class="card-subtitle mb-2 text-muted">senha</h4>
                                <p class="card-text">altere sua senha de acesso.</p>
                                <a asp-action="UpdatePassword" asp-controller="UserManagement" asp-area="Access" asp-route-id="@_login.GetUser().Id" class="btn btn-primary">alterar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="py-2">
                                    <i class="bi bi-person-lines-fill default-icon-medium"></i>
                                </div>
                                <h4 class="card-subtitle mb-2 text-muted">e-mail</h4>
                                <p class="card-text">altere seu e-mail de cadastro.</p>
                                <a asp-action="UpdateEmail" asp-controller="UserManagement" asp-area="Access" asp-route-id="@_login.GetUser().Id" class="btn btn-primary">alterar</a>
                            </div>
                        </div>
                    </div>
                    break;
                default:
                    break;
            }
        }

    </div>
</div>
