@model ExpensesControl.Models.User;
@{ ViewData["Title"] = "Atualizar a Senha"; }


<header class="d-flex flex-wrap align-content-center justify-content-md-between py-3 mb-4">
    <div class="container">
        <a asp-action="Index" asp-controller="ControlPanel" asp-area="Access" asp-route-id="@_login.GetUser().Id" class="btn btn-primary">voltar <i class="bi bi-arrow-bar-left"></i></a>
    </div>
</header>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card">
                <div class="card-body p-2 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <div class="py-2 text-center">
                            <i class="bi bi-file-earmark-lock default-img-icon"></i>
                        </div>
                        <h3 class=" mb-3">atualizar senha</h3>
                        <form method="post">
                            <input type="hidden" asp-for="Id" />
                            <div class="col-sm-12 p-2">
                                <label asp-for="Password" class="form-label d-flex">nova senha</label>
                                <div class="input-group">
                                    <input type="password" class="form-control password-field" asp-for="Password" placeholder="*********" />
                                    <a class="btn btn-secondary bi bi-eye btn-show-password"></a>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 p-2">
                                <label asp-for="ConfirmPassword" class="form-label d-flex">confirme a nova senha</label>
                                <div class="input-group">
                                    <input type="password" class="form-control confirm-password-field" asp-for="ConfirmPassword" placeholder="*********">
                                    <a class="btn btn-secondary bi bi-eye btn-show-confirm-password"></a>
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12">
                                @{ await Html.RenderPartialAsync("~/Views/Shared/_Alert.cshtml");}
                            </div>

                            <br />
                            <div class="col" align="center">
                                <button type="submit" class="btn btn-primary">atualizar <i class="bi bi-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
