<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle de Despesas</title>
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.10.2/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/resources/pagedlist/pagedlist.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.2.2-dist/css/bootstrap.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-light">
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-5.2.2-dist/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)

    <div class="container" style="padding-top: 500px">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-10 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-muted">© @DateTime.Now.Year Controle de Despesas</span>
            </div>
        </footer>
    </div>
</body>
</html>
