@{ 
    ViewData["Title"] = "Home";
}

<div class="container">
    <header class="d-flex flex-wrap align-items-end justify-content-end  py-2 mb-1 border-bottom">
        <div class="col-md-3 text-end">

            <input type="button" class="btn btn-outline-primary me-2" onclick="location.href = '@Url.Action("Index", "Login")'" value="Login">
            <input type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Cadastro")'" value="Cadastrar">

        </div>
    </header>
</div>
