@model ControleDespesas.Models.Usuario
@inject ControleDespesas.Libraries.LoginUsuario _login;

@{
    ViewData["Title"] = "Home";
}

<main>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <h4>Controle de Despesas</h4>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a asp-action="Index" asp-controller="Home" class="nav-link px-2">Home</a></li>
                <li><a asp-action="Index" asp-controller="Home" class="nav-link px-2">Visão geral</a></li>
                <li><a asp-action="Index" asp-controller="Home" class="nav-link px-2">Despesas</a></li>
                <li><a asp-action="Index" asp-controller="PainelControle" class="nav-link px-2">Painel de Controle</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <a asp-action="Logout" asp-controller="Login" class="btn btn-primary">Sair <i class="bi bi-door-open"></i></a>
            </div>
        </header>
    </div>
</main>



