@{ 
    ViewData["Title"] = "Home";
}

<div class="container">
    <header class="d-flex flex-wrap align-items-end justify-content-end  py-2 mb-1 border-bottom">
        <div class="col-md-3 text-end">
            <a asp-action="Login" asp-controller="Login" class="btn btn-secondary">Login</a>
            <a asp-action="Cadastrar" asp-controller="Cadastro" class="btn btn-secondary">Cadastrar</a>
        </div>
    </header>
</div>

