@{
    ViewData["Title"] = "Confirmação de Cadastro";
}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
</header>

<div class="container" align="center">
    <div class="row py-2 text-center">
        <i class="bi bi-check-circle default-img-icon"></i>
        <h2 class="alert">Cadastro confirmado com sucesso!</h2>
        <p>Você já pode realizar o login e controlar sua vida financeira!</p>
    </div>
</div>
<div class="container align-content-center" align="center">
    <a asp-action="Index" asp-controller="Login" class="btn btn-primary col-sm-2 p-2">Fazer login <i class="bi bi-door-open-fill"></i></a>
</div>

