@{
    ViewData["Title"] = "Cadastro";
}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <input type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Home")'" value="Voltar">
</header>

<div class="d-flex justify-content-center">
    <main>
        <div class="py-2 text-center">
            <h1><i class="bi bi-person-badge-fill"></i></h1>
            <h2>Cadastro</h2>
        </div>

        <div class="row">
            <h4 class="mb-3">Preencha seus dados</h4>
            <form class="form-group" novalidate>
                <div class="container">
                    <div class="col-md-13 py-1 ">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome">
                    </div>

                    <div class="col-md-13 py-1 ">
                        <label for="sobrenome" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="sobrenome">
                    </div>

                    <div class="row">
                        <label class="form-check-label" for="masculino">Sexo</label>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sexo" id="masculino">
                            <label class="form-check-label" for="masculino">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sexo" id="feminino">
                            <label class="form-check-label" for="feminino">Feminino</label>
                        </div>
                        <span></span>
                    </div>

                    <div class="col-md-13 py-1 ">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
                    </div>

                    <div class="col-md-13 py-1 ">
                        <label for="confirmarEmail" class="form-label">Confirmar e-mail</label>
                        <input type="email" class="form-control" id="confirmarEmail" placeholder="nome@exemplo.com">
                    </div>

                    <div class="col-md-13 py-1 ">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" placeholder="*********">
                    </div>

                    <div class="col-md-13 py-1 ">
                        <label for="senha" class="form-label">Confirme sua senha</label>
                        <input type="password" class="form-control" id="confirmarSenha" placeholder="*********">
                    </div>
                </div>
                <hr class="my-4">
                <div class="row justify-content-lg-center">
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-lg" type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
