@{
    ViewData["Title"] = "Confirmação de E-mail";
}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
</header>

<div class="container" align="center">
    <div class="row py-2 text-center">
        <i class="bi bi-check-circle default-img-icon" style="color: green"></i>
        <h3 class="alert">e-mail alterado com sucesso!</h3>
        <p>você já pode realizar o login!</p>
    </div>
</div>
<div class="container align-content-center" align="center">
    <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-primary col-sm-2 p-2">login <i class="bi bi-door-open"></i></a>
</div>

